<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/datatables/datatables1.css">
    <link rel="stylesheet" href="/datatables/datatables2.css">
    <link rel="stylesheet" href="/datatables/datatables3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/stylefolder/bootstrap3.js"></script>
    <title>Admin | Teacher and Faculty Vehicle</title>
</head>
<style>
:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}
.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}
/*listuser in small screen*/
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media only screen and (max-width:800px) {
            #no-more-tables tbody,
            #no-more-tables tr,
            #no-more-tables td {
                display: block;
            }
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            #no-more-tables td {
                position: relative;
                padding-left: 50%;
                border: none;
                border-bottom: 1px solid #eee;
            }
            #no-more-tables td:before {
                content: attr(data-title);
                position: absolute;
                left: 6px;
                font-weight: bold;
            }
            #no-more-tables tr {
                border-bottom: 1px solid #ccc;
            }
        }
</style>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
          <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
              <h6 class="fw-bold">
                Systematic Parking Monitoring System
              </h6>
          </div>
          <div class="list-group list-group-flush my-3">
              <a href="/admin/<%= username%>" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                  <img class="" src="/img/icons8-dashboard-layout-30.png" alt=""> 
                  Dashboard</a>
              <a href="/parkingspace/<%= username%>" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"<%= hidden%> >
                  <img class="" src="/img/icons8-parking-30.png" alt="">
                  Parking Space
              </a>
              <a href="/approve/<%= username%>" <%= hidden%> class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <img class="/" src="/img/icons8-carpool-30.png" alt="">
                Pending Student Vehicle
                </a>
    
                <a href="/faculty/<%= username%>" <%= hidden%> class="list-group-item list-group-item-action bg-transparent second-text fw-bold ">
                      <img class="" src="/img/icons8-carpool-30.png" alt=""> 
                      Pending Faculty Vehicle
              </a>

              <a href="/visitors/<%= username%>" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                  <img class="" src="/img/icons8-carpool-30.png" alt=""> Visitor Logs
              </a>
              <a href="/adminlist/<%= username%>" class="list-group-item list-group-item-action bg-transparent second-text fw-bold active" <%= hidden%>>
                <img class="" src="/img/icons8-admin-settings-male-30.png" alt=""> 
                Admin List
              </a>
          </div>
      </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i id="menu-toggle">
                        <img src="/img/icons8-hamburger-menu-20.png" alt="">
                    </i>
                    <h2 class="fs-2 m-0 p-2">Admin List</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="text-uppercase nav-link dropdown-toggle second-text fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= fname%> <%= mname%> <%= lname%>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/adminedit/<%= username%>">Edit Profile</a></li>
                              <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  Change Password
                                </a>
                              </li>
                              <li><a class="dropdown-item text-danger" href="/logout">Log Out</a></li>
                            </ul>
                          </li>
                    </ul>
                </div>
            </nav>
             <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="post">
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Enter New Password</label>
                        <input type="password" class="form-control" id="recipient-name" name="adminchangepassword" required>
                      </div>
                      <div class="modal-footer">
                        <button type="Success" class="btn btn-primary" formaction="/changepassadmin/<%= username%>">Save changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="container table-responsive">
                  <form class="mt-2" method="post">
                    <table id="example" class="display nowrap table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Registration Id</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Birthdate</th>
                                <th>Address</th>
                                <th>Contact No.</th>
                                <th>Contact Email.</th>
                                <th>Status</th>
                                <th>Authority Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% rset.forEach((user)=>{ %>
                                <tr>
                                    <td class="text-uppercase">A<%= user.user_account_info_number%> </td>
                                    <td class="text-uppercase"><%= user.user_account_fname%> <%= user.user_account_mname%> <%= user.user_account_lname%> </td>
                                    <td class="text-uppercase"><%= user.gender%></td>
                                    <td class="text-uppercase"><%= user.birthdate%></td>
                                    <td class="text-uppercase"><%= user.barangay%>, <%= user.city%> <%= user.province%></td>
                                    <td class="text-uppercase"><%= user.contact_number%></td>
                                    <td class="text-uppercase"><%= user.contact_email%></td>
                                    <td class="text-uppercase"><%= user.statusaccept%></td>
                                    <td class="text-uppercase"><%= user.status%></td>
                                    <td data-title="Action">
                                        <a onclick="approveadmin('<%= user.Username%>','<%= username%>','<%= user.user_account_fname%> <%= user.user_account_mname%> <%= user.user_account_lname%>')" class="btn btn-success">
                                            <img class="" src="/img/icons8-approve-25.png" alt="">
                                        </a>

                                        <a onclick="pendingadmin('<%= user.Username%>','<%= username%>','<%= user.user_account_fname%> <%= user.user_account_mname%> <%= user.user_account_lname%>')"  class="btn btn-danger">
                                          <img src="/img/icons8-cancel-25.png" alt="">
                                        </a>

                                        <a onclick="resetpassword('<%= user.Username%>','<%= username%>','<%= user.user_account_fname%> <%= user.user_account_mname%> <%= user.user_account_lname%>')" class="btn btn-primary">
                                          <img src="/img/icons8-reset-password-25 (2).png" alt="">
                                        </a>
                                        <a onclick="changetosuperadmin('<%= user.Username%>','<%= username%>','<%= user.user_account_fname%> <%= user.user_account_mname%> <%= user.user_account_lname%>')" class="btn btn-warning">
                                          <img src="/img/icons8-admin-settings-male-25.png" alt="">
                                        </a>
                                    </td>
                                </tr>
                              <% }) %>
                        </tbody>
                    </table>
                  </form>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <script src="/datatables/datatables1.js"></script>
    <script src="/datatables/datatables2.js"></script>
    <script src="/datatables/datatables3.js"></script>
    <script src="/datatables/datatables4.js"></script>
    <script src="/stylefolder/bootstrap5.js"></script>
    <script src="/sweetalert2/sweetalert2.js"></script>
    <script>
      function changetosuperadmin(username,admin,name){
        Swal.fire({
        title: 'You are about to set this user to Higher Admin? \n'+name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
        if (result.isConfirmed) {
            location.href="/adminsuper/"+username+'/'+admin
        }
        })
      }
      function resetpassword(username,admin,name){
        Swal.fire({
        title: 'Are you sure you want to reset this users password? \n'+name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
        if (result.isConfirmed) {
            location.href="/resetpass/"+username+'/'+admin
        }
        })
      }
      function approveadmin(username,admin,name){
        Swal.fire({
        title: 'Are you sure you want to approve this user? \n'+name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Approve it!'
        }).then((result) => {
        if (result.isConfirmed) {
            location.href="/aproveadmin/"+username+'/'+admin
        }
        })
      }
      function deleteadmin(username,admin,name){
        Swal.fire({
        title: 'Are you sure you want to Delete This User? \n'+name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Delete it!'
        }).then((result) => {
        if (result.isConfirmed) {
            location.href="/deleteadmin/"+username+'/'+admin
        }
        })
      }
      function pendingadmin(username,admin,name){
        Swal.fire({
        title: 'Are you sure you want to pending This User? \n'+name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
        }).then((result) => {
        if (result.isConfirmed) {
            location.href="/pendingadmin/"+username+'/'+admin
        }
        })
      }
      
    </script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
        
        $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        });
    </script>
    <script>
      $(document).ready(function() {
          var table = $('#example').DataTable( {
              rowReorder: {
                  selector: 'td:nth-child(2)'
              },
              responsive: true
          } );
      } );
    </script>
    <script>
        const alert = '<%= sweetalert%>'
        if (alert == "Delete" ){
            Swal.fire(
            'Succesfully Deleted!',
            'Approve',
            'success'
            )
        }else if (alert == 'Approve'){
            Swal.fire(
            'Succesfully Approved!',
            'Approve',
            'success'
            )
        }else if (alert == 'Pending'){
          Swal.fire(
            'Succesfully Change',
            'Pending',
            'success'
          )
        }
    </script>
</body>
</html>